<strong> Olá, {{ promoter }}.</strong>

<p>{{ userName }} confirmou presença no seu evento: {{ meetupTitle }}.</p>

<p>
  <strong>{{ userName }}</strong>
  <span> ({{ userEmail }}) se inscreveu em:</span><br />
  <strong>{{ meetupTitle }}</strong><br />
  <strong>{{ meetupDate }}</strong><br />
</p>
<small>Confira a lista completa de inscritos no app.</small>
